:root { 
--cyan_A400:#02d6e9; 
--gray_600:#828282; 
--gray_700:#5e6470; 
--gray_400:#bdbdbd; 
--blue_gray_100:#d7dae0; 
--amber_500:#febe14; 
--indigo_900_a2:#00066aa2; 
--light_green_A700:#44c420; 
--gray_900:#191c21; 
--light_blue_500:#0fa3f4; 
--green_A200:#7fffa3; 
--blue_50:#ecf2fe; 
--gray_50:#f9f9ff; 
--gray_100:#f2f2f2; 
--yellow_400:#f2ff60; 
--indigo_900_00:#00076a00; 
--indigo_900_99:#00076a99; 
--indigo_900_cc:#00076acc; 
--black_900:#000000; 
--indigo_900:#00066a; 
--blue_gray_900:#2c2d3c; 
--white_A700:#ffffff; 
}